<!DOCTYPE html>
<html lang="en">

  <!-- TODO  -->
  <!-- alt do img,  -->
  <!-- alt do img,  -->

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Mapa zagrożeń</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <link rel="stylesheet" href="/web/style.css">

  </head>

  <body>





      <div class="container">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
      {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% endwith %}

        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Zagrożenia</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Mapa</a></li>
            </ul>

        <!-- <h1>xx</h1> -->


        {% if not current_user.is_authenticated %}
	    <ul style="float: right;" class="nav navbar-nav ml-auto">
                <li><a href="/register">Zarejestruj się</a></li>
                <li><a href="/login">Zaloguj</a></li>
	    </ul>
        {% else %}
	    <ul style="float: right;" class="nav navbar-nav ml-auto">

            <li><a href="#">Zalogowany jako: <b>{{ current_user.username }}</b></a></li>
            <li><a href="/logout">Wyloguj</a></li>
	    </ul>
        {% endif %}

          </div>
        </nav>

        <div class="row">

      {% block content %}
      {% endblock %}

        </div>





<!-- <div id="Map" style="height:250px"></div> -->

      <script type="text/javascript" src="/web/app.js"></script>
      {% block scripts %}
      {% endblock %}
  </body>
</html>
